numpy
scipy
matplotlib
scikit-image
# double_gaussian blur # https://github.com/arpostl/double_gaussian_blur
# fourier_scale_calibration # https://github.com/jacobjma/fourier-scale-calibration
# nionswift_structure_recognition # https://github.com/jacobjma/nionswift-structure-recognition
# nionswift_univie_tractorbeam # T.B.A.
## OPTIONAL: periodictable